{% extends 'base.html' %}{% load static humanize %} {% block title %} یافت نشد
{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/404.css' %}" />
<main class="not-found-container">
  <div class="not-found-box">
    <div class="error-code">404</div>
    <h1>صفحه پیدا نشد!</h1>
    <p>
      متاسفانه صفحه‌ای که به دنبال آن بودید وجود ندارد. شاید آدرس را اشتباه وارد
      کرده‌اید یا این صفحه برای همیشه پاک شده است.
    </p>
    <div class="actions">
      <a href="{% url 'index' %}" class="home-btn">بازگشت به صفحه اصلی</a>
    </div>
  </div>
</main>
{% endblock %}
